<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>CRUD Codo a Codo</title>
</head>
<body>
    Bienvenido a la base de datos.
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Gestión de empleados</a>
            <button class="navbar-toggler" data-target="#my-nav" data- toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria- label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('index')}}">Empleados <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sitio web de la corporación Ciccone</a>
                    </li>
                </ul>
        </div>
    </nav>
        